*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
:root {
	--bg-color: #1a2887;
	--typewriterSpeed: 4s;
	--typewriterCharacters: 12;
  }

body {
	margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  display: grid;
  background: var(--bg-color);
}
.container {
	font-size: 14px;
	width: 80%;
	margin: 50px auto;

}
h1 {
	font-size: clamp(1rem, 3vw + 1rem, 4rem);
	position: relative;
	font-family: "Source Code Pro", monospace;
	position: relative;
	width: max-content;
  }

  h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
	background: var(--bg-color);
	-webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
			animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
  }
  h1::after {
	width: 0.125em;
	background: black;
	-webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
			animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
.subtitle {
	color: rgba(0, 0, 0, 0.7);
	font-size: 2rem;
	font-weight: 400;
	opacity: 0;
	transform: translateY(3rem);
	-webkit-animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
			animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  @-webkit-keyframes typewriter {
	to {
	  left: 100%;
	}
  }
  
  @keyframes typewriter {
	to {
	  left: 100%;
	}
  }
  @-webkit-keyframes blink {
	to {
	  background: transparent;
	}
  }
  @keyframes blink {
	to {
	  background: transparent;
	}
  }
  @-webkit-keyframes fadeInUp {
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  @keyframes fadeInUp {
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  #yt-link {
	position: absolute;
	bottom: 2em;
	width: 100%;
	color: rgba(0, 0, 0, 0.7);
  }
  #yt-link:hover, #yt-link:focus {
	color: teal;
  }

.contact-box {
	background: rgb(255, 255, 255);
	display: flex;
}
.contact-left {
	flex-basis: 60%;
	padding: 40px 150px;
	background-color: #101010;
}

.contact-right {
	flex-basis: 60%;
	padding: 40px;
	background-color: #101010;
	color:#fff;
}
.input-group{
	padding-right: 180px;
	color: #fff;
}
.container p{
	margin-bottom: 40px;
}
.input-row{
	display: flex;
	color: white;
	justify-content: space-between;
	margin-bottom: 30px;
}
.input-row .input-group {
	flex-basis: 45%;
}

input {
	width: 300px;
	border: none;
	background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) center bottom 5px /calc(100% - 10px) 2px no-repeat;
	border-bottom: 1px solid#4a43d1;
	outline: none;
	padding-bottom: 5px;
}
textarea {
	resize: none;
	width: 100%;
	color: #ffffff;
	background-color: #101010;
	border: 1px solid #4a43d1;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
}
ul.contact > li > input:focus{
	color:rgb(255, 1, 1);
	}
label {
	margin-bottom: 6px;
	display: block;
	color: #f9004d;
}
#searchFieldText:focus {  
    color: #fff; 
}
.h1 {
	margin-bottom: 10px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {

		background-position: 0% 50%;
	}
}

.hero{
	height: 100vh;
	width: 100%;
	/*background-image: url("https://media1.giphy.com/media/3o7TKnPXPyN5EEkrRu/giphy.gif?cid=790b76118e534b630b2f3904dd01ee628870767955073764&rid=giphy.gif&ct=g");
	*/
	background-size: cover;
	background-position: center;
	
}

.arrow-btn {
	position:fixed;
	bottom:30px;
	right:30px;
	z-index: 9;
}
.arrow-btn a{
	height: 39px;
	width:37px;
	text-align: center;
	background: #4a43d1;
	display:block;
	border-radius: 3px;
}

.arrow-btn a span{

	color:#f2f2f2;
	line-height:39px;
	font-size: 25px;
	cursor:pointer;
}
html {
	scroll-behavior: smooth;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #4a43d1;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #000000;
	transition: .4s;
}
.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: rgba(47, 117, 198, 0.8);
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: rgba(47, 117, 198, 0.8);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#f9004d;

	color: white;
	text-decoration: none;
	margin-top: 1px;
	border: 2px solid transparent;
	font-weight: bold;

	padding: 15px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 105px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 30px;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 13px 30px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.social-icon {
	color:#1b2cc0;
	left: 5px;
	font-size: xx-large;
}
.social-icon:hover {
	transform: scale(1.3);
	transition: .3s;
	color:#ff0000;
	background-color: transparent;
	cursor: pointer;
}

.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}
@media screen and (max-width: 847px) {
	.logo {
		font-size: 45px;
	}
	.hero {
		width: 1350px;
		font-size: 40px;
		height: 2000px;
	}
	.content {
		font-size: 200px;
		padding-top: 1000px;
		padding-left: 400px;
	}
    .about-text {
        width: 1000px;
		height: 750px;
		padding-top: 200px;
		padding-left: 115px;
    }
	#mee {
		width: 1000px;
		font-size: 125px;
	}
	#text2 {
		width: 1000px;
		font-size: 35px;
	}
	#text3 {
		width: 1000px;
		font-size: 35px;
	}
	#text4 {
		width: 1000px;
		font-size: 35px;
		line-height: 1.5;
	}
	#Me {
		display: none;
		
	}
	.con-me {
		width: 200px;
		height: 200px;
	}
	.contact-left {
		height: 850px;
	}
	.input-group {
		font-size: 40px;
	}
	#em {
		font-size: 30px;
	}
	#em1 {
		font-size: 30px;
	}
	#em2 {
		font-size: 30px;
	}
	#em3 {
		font-size: 30px;
	}
	#message {
		font-size: 40px;
	}
	#bton {
		margin-top: 60px;
		padding: 15px 50px;
	}
	footer {
		font-size: 2000px;
	}
	#txt1 {
		font-size: 50px;
	}
	#txt2 {
		font-size: 25px;
	}
	.arrow-btn {
		height: 120px;
    	width: 100px;
	
	}
	.arrow-btn a {
		height: 90px;
    	width: 90px;
	}
	.arrow-btn a span {
		margin-top: 27px;
		font-size: 50px;
	}
}
